*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to bottom, #6796DC, #4783DE, #1C73F6, #1667E1, #1256BD, #0D4190, #092B5F);
}

.fondo{
    width: 100%;
    height: auto;
    padding-bottom: 22px;
}

.nav__ul{
    display: inline-block;
    margin-top: 2%;
    margin-left: 3%;
    list-style: none;
}

.nav__ul-li-inicio{
    text-shadow: 2px 2px 21px white;
    border-radius: 10px;
    display: inline-block;
    background-color: #0A82D6;
    border-radius: 20px;
    border: 2px solid #092B5F;
    font-family: 'Poppins', sans-serif;
    padding: 9px;
    color: #fff;
    transition-property: color;
    transition-duration: .5s;
    cursor: pointer;
}

.nav__ul-li-inicio a{
    color: #fff;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
}

.nav__ul-li-inicio i{
    width: 30px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.nav__ul-li-inicio:hover > a{
    color: #ccc;
}
.nav__ul-li-inicio:hover{
    color: #ccc;
}

.nav__ul-li{
    display: inline-block;
    padding-bottom: 8px;
    cursor: pointer;
}

.nav__ul-li i{
    width: 30px;
    box-sizing: border-box;
    text-align: right;
    color: #ddd;
    margin-right: 3px;
    transition-property: color;
    transition-duration: 1s;
}

.nav__ul-li a{
    padding: 8px;
    text-decoration: none;
    color: #ddd;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition-property: color, border-bottom;
    transition-duration: 1s;
}

.nav__ul-li:hover{
    border-bottom: 1px solid #fff;
    color: #fff;
}

.nav__ul-li:hover > a{
    color: #fff;
}

.nav__ul2{
    list-style: none;
    display: inline-block;
    text-align: right;
}

.nav__ul2-li{
    padding: 10px;
    display: inline-block;
    text-align: right;
}

.nav__ul2-li a{
    text-align: right;
    text-decoration: none;
}

.nav__ul2-li a i{
    text-align: right;
    font-size: 23px;
    color: #fff;
    transition-property: color, transform;
    transition-duration: .6s;
}

.nav__ul2-li a i:active{
    transform: scale(.9);
}

.lupa .perfil{
    transform: scale(.9);
}

.nav__ul2-li a i:hover{
    color: #ccc;
    border-radius: 50%;
}

#form-buscar{
    display: inline-block;
}

.contenedor{
    display: inline-block;
    text-align: right;
    margin-left: 50%;
}

.buscar{
    background-color: #08339B;
    width: 200px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: -10px;
    color: #fff;
    display: none;
}

.buscar::placeholder{
    color: #ddd;
}

#btn-buscar{
    font-size: 18px;
    background-color: #092B5F;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    width: 80px;
    height: 35px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    transition-property: background-color, transform;
    transition-duration: .5s;
    display: none;
}

#btn-buscar:active{
    transform: scale(.9);
}

#btn-buscar:hover{
    background-color: #0D4FB6;
}

.contenedor__slider{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slider{
    display: flex;
    width: 400%;
    height: 400px;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    margin-top: 120px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .7);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover{
    background-color: #fff;
}

.slider__btn-left{
    left: 10px;
}

.slider__btn-right{
    right: 10px;
}

.titulo-casas{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    text-shadow: 2px 2px 10px #000;
    font-family: 'RocknRoll One', sans-serif;
    cursor: default;
}

.contenedor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(mosaico3.jpg);
    background-size: cover;
}

.contenedor-productos .producto{
    width: 590px;
    height: auto;
    margin: 20px;
    background-color: rgba(9, 43, 95, .8);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    transition-property: box-shadow;
    transition-duration: .5s;
    padding-bottom: 10px;
}

.producto:hover{
    box-shadow: 0 0 20px #0A82D6;
}

.btn-masinfo, .btn-contactar{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 2px;
}

.btn-masinfo{
    background-color: #E56D04;
    color: #fff;
    box-shadow: 0 0 5px #ccc;
    transition: all .5s;
}

.btn-masinfo:hover{
    background-color: #BE5D0C;
}

.btn-masinfo:active, .btn-contactar:active{
    transform: scale(.9);
}

.btn-contactar{
    background-color: #fff;
    box-shadow: 0 0 15px #000;
    transition: all .5s;
}

.btn-contactar a{
    text-decoration: none;
    color: #000;
    text-shadow: 0px 0px 1px #222;
}

.btn-contactar:hover{
    background-color: #ccc;
}

.contenedor-productos .producto img{
    width: 90%;
    height: 300px;
    margin-top: 15px;
}

.ul-propiedades{
    list-style: none;
}

.ul-propiedades li{
    padding-top: 10px;
    display: inline-block;
    color: #fff;
    cursor: default;
}

.ul-propiedades li i{
    cursor: default;
    text-align: right;
    margin-right: 2px;
    margin-left: 18px;
    color: #ccc;
    font-size: 20px;
}

.producto p{
    padding: 20px;
    text-align: justify;
    text-shadow: 2px 2px 5px #000;
    cursor: default;
}

.remate{
    color: #FF2D00;
    text-shadow: 0px 0px 5px #111;
}

.contenedorfiltro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedorformularios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1C73F6;
    background-size: cover;
}

.cajaform{
    margin: 20px;
    width: 60%;
    height: 300px;
    background-color: rgba(9, 43, 95, .9);
    border-radius: 15px;
}
.tituloform{
    color: #fff;
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
    margin: 10px;
}

form input{
    margin: 2px;
    width: 250px;
    height: 25px;
    text-align: center;
    border: none;
    outline: none;
    color: #000;
}

form input:hover{
    background-color: #aaa;
}

form input:focus{
    background-color: #aaa;
}

form input::placeholder{
    text-align: center;
}

.filtro{
    margin: 10px;
}

.filtro label{
    color: #fff;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.filtro select{
    background-color: #08339B;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 60px;
    height: 30px;
    color: #fff;
}

.btn-solicitar{
    background-color: #092B5F;
    color: #fff;
    border: none;
    outline: none;
    width: 70px;
    height: 25px;
    border-radius: 10px;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inffo{
    margin-top: 60px;
    width: 270px;
    height: 210px;
}

.inffo p{
    color: #fff;
    text-align: left;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

.iconos{
    text-decoration: none;
    color: #fff;
    font-size: 30px;    
}

.inffo a i{
    margin: 10px 5px;
    transition-property: color;
    transition-duration: .5s;
}

.inffo a i:hover{
    color: #ccc;
}

.titulo-paradise{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: #fff;
    cursor: default;
}

.titulo-navegacion, .titulo-ubicacion{
    font-size: 25px;
    color: #fff;
    cursor: default;
}

.ul__navegacion{
    list-style: none;
    margin-top: 10px;
}

.ul__navegacion li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition-property: color;
    transition-duration: .5s;
}

.ul__navegacion li a:hover{
    color: #ccc;
}

.ul__ubicacion{
    margin-top: 15px;
    list-style: none;
}

.ul__ubicacion li{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    cursor: default;
}

.copy{
    color: #fff;
    font-size: 12px;
    cursor: default;
    margin-bottom: 20px;
}

.line{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
    height: 3px;
    background-color: #fff;
}

@media only screen and (max-width: 700px){
    h1{
        font-size: 80px;
    }

    h1:hover{
        font-size: 85px;
    }

    .nav__ul{
        text-align: center;
        padding: 40px;
    }

    .contenedor{
        text-align: right;
        width: 50%;
    }

    .buy{
        left: 33%;
        right: 33%;
    }

    #text-area{
        width: 300px;
    }

    h4{
        padding: 10px;
    }

    .fondo2{
        height: auto;
    }

    #nombre{
        margin: 20px;
    }

    #btn__enviar{
        margin-bottom: 10px;
    }

    .producto img{
        object-fit: cover;
    }

    .producto{
        padding: 10px;
    }

    .btn-masinfo{
        margin-bottom: 10px;
    }

    .btn-contactar{
        margin-bottom: 10px;
    }
}